h2{
    text-align: center;
}
main{
    margin: 30px auto;
    max-width: 500px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}
input{
    text-align: center;
    border: none;
    background-color: #ECECEC;
    padding: 10px;
    outline: none;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
    -webkit-appearance: none;
    margin-bottom: 20px;
}
.errorStyle1{
    color: #FF0000;
    font-style: italic;
}
button{
    background-color: #0A60FF;
    font-size: 15px;
    color: #ffffff;
    padding: 10px 35px;
    border: none;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
    -webkit-appearance: none;
}